/* @import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|PT+Sans:400,700,400italic,700italic); */
@font-face {
	font-family: 'Arvo';
	src: url('_fonts/Arvo-Regular.ttf');
}

@font-face {
	font-family: 'PT Sans';
	src: url('_fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('_fonts/OpenSans-Regular.ttf');
}

@media screen {
    body, html {
        height:100%;
    }

    body > #preso,
    body > #preso > .slide {
/* Allows the height to vary by a handful of pixels based on what browser chrome is visible. */
        height: 100%;

/* static heights to fit different browser configurations. Safari values. */
/*      height: 706px;    /* allows room for the tab bar and status bar */
/*      height: 728px;    /* allows room for the status bar only */
/*      height: 744px;    /* allows room for neither bar */
    }
}

@media all {
    /* branding */
    body {
        font-family: 'PT Sans', 'Lucida Grande', helvetica, arial, sans-serif;
        background: url(_images/linen.png);
        font-size: 62.5%;
    }

    code {
        font-family: monospace;
    }

    sup {
      vertical-align: super;
      font-size: small;
    }

    small {
      font-size: small;
    }

    /* why so center aligned? */
    .content > p,
    .content li {
        text-align: left !important;
    }

    /* but put the images back to center. Assumes that images will always be block. */
    .content > p > img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    .content li > ol,
    .content li > ul {
        font-size: 100%;
    }

    .content {
        margin-top: 0 !important;  /* Places the slide title consistently. Not vertically centered. */
        margin-left: 1em;
        margin-right: 1em;
        font-size: 1.6em;
    }

    .content h1 {
	    font-family: 'Arvo';
	    font-size: 3em;
    }

    .content h2 {
	    font-size: 2em;
    }

    .content h3 {
	    font-size: 1.8em;
    }

    .content > ul, .content > ol, .content > p {
	    font-size: 1.6em;
    }

    .lesson > h2 {
	    font-weight: bold !important;
	    text-transform: uppercase;
	}

    /* why is this being set explicitly? */
    .slide .center {
        width: 1024px;
    }

    /* Add some nice styling to the code blocks. */
    .content pre {
        border: 2px solid #ddd;
        padding: 0.5em;
        overflow: hidden;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
    }

    /* if needed, we can scroll to view */
    .content pre.code_scrolled {
        overflow: auto;
    }

    /* or wrap the text */
    .content pre.code_wrap {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

    /* smaller text size
    .content pre.code_small {
        font-size: 125%;
    }

    .content pre.code_smaller {
        font-size: 100%;
    }

    */

    /* centered code window */
    .content pre.code_center {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /* add shell inverse color so we can visually identify code. */
    .content pre.sh_shell,
    .content pre.sh_puppet_output {
        background-color: black;
        color: white;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0;
    }

    /* add classes for forge results */
    .content pre.forge {
        font-family: 'Courier New', Courier, monospace;
    }
    .content pre.forge span.hit {
        color: #81ff26;
    }
    .content pre.forge span.version {
        color: cyan;
    }

    /* do we need to fiddle with the size? */
    .content > pre {
       font-size: 120%;
    }

    /* make the menu less broken */
    a.fg-button, div.fg-menu-container {
        font-size: 0.7em;
    }

    /* remove some gratuitous whitespace */
    .content li {
        padding: .25em;
    }

    /* this is a hacky fix to a silly problem. If you put a code snippet directly after a list, things
      get boogered up. We had previously been using ` ` to break the lines, but that causes other issues,
      specifically with printing. Instead, use this style and put a line like ".break some text". */
    p.break {
        display: none;
    }

    /* I'm using this style for word definitions. */
    p.define {
        border: 1px solid #efefef;
        border-left: 5px solid #ccc;
        margin-left: 15px;
        padding: 5px;
        background: #fefefe;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
    }
    p.define:first-line {
        font-weight: bold;
    }

    p.highlight {
        border: 1px solid #cfcfcf;
        padding: 1em;
        border-radius: 0.75em;
        border-bottom-width: 4px;
        border-right-width: 4px;
        text-align: center !important;
        width: 75%;
        margin: 2em auto;
    }
    p.highlight:first-letter {
        font-size: 2em;
        font-family: Book Antiqua;
    }
    p.highlight a {
        font-weight: bold;
        line-height: 2em;
    }

    /* table styling */
    /* first fix sizes for small and smaller slide styles */
    .content.small table {
        font-size: 2em;
    }
    .content.smaller table {
        font-size: 1.5em;
    }

    /* default to full width */
    .content table {
        width: 100%;
    }

    .content table li {
        list-style-type: disc;
    }

    .content table.sidebyside {
        width: 90%;
        font-size: 1.6em;
    }

    table.sidebyside tr td {
        width: 50%;
    }

    /* now add gussied up chart style */
    table.chart,
    table.sidebyside {
        margin-left: auto;
        margin-right: auto;
        border-collapse:collapse;
        width: 80%;
    }

    table.chart th,
    table.sidebyside th {
        border-bottom: 2px solid #ccc;
        padding: 0.5em;
    }

    table.chart tr td,
    table.sidebyside tr td {
        border-top: 1px solid #eee;
        text-align: center;
        padding: 1em;
    }

    table.chart tr td:first-child {
        border-right: 2px solid #ccc;
        text-align: left;
        width: 100px;
        font-weight: bold;
    }

    /* Visualization series */
    div.visualization {
      width: 80%;
      border: 1px solid black;
      margin: 0 auto;
    }

    div.visualization table {
      border: 2px solid black;
    }

    div.visualization table.chart tr.pageOne td:first-child,
    div.visualization table.chart tr.pageOne td {
	    border-right: solid black;
	    border-top: solid black;
    }

    div.visualization table.chart tr.pageTwo td:first-child,
    div.visualization table.chart tr.pageTwo td {
	    border-right: solid black;
	    border-top: solid black;
	}

    div.visualization table.chart tr.pageThree td:first-child,
    div.visualization table.chart tr.pageThree td {
	    border-right: solid black;
	    border-top: solid black;
	}

    div.visualization ol.legend {
      width: 20em;
      margin: 2em auto;
      border: 2px solid black;
      font-size: 1em;
      background: #0d0d0d;
    }

    div.visualization ol.legend li {
      font-weight: bold;
    }
    div.visualization ol.legend li.disabled {
      font-style: italic;
      font-weight: 100;
      color: #777;
    }
    div.visualization ol.legend li.highlight {
      font-size: 1.25em;
    }

    div.visualization.pageOne,
    div.visualization tr.pageOne {
      background: #aae1ff;
    }
    div.visualization ol.legend li.pageOne {
      color: #aae1ff;
      font-weight: bold;
    }

    div.visualization.pageTwo,
    div.visualization tr.pageTwo {
      background: #e8ffdb;
    }
    div.visualization ol.legend li.pageTwo {
      color: #e8ffdb;
      font-weight: bold;
    }

    div.visualization.pageThree,
    div.visualization tr.pageThree {
      background: #ccac96;
    }
    div.visualization ol.legend li.pageThree {
      color: #ccac96;
      font-weight: bold;
    }

    /* layout & background for exercises and labs */
    .content.exercise > h1:first-of-type {
      background: transparent url('_images/exercise.png') no-repeat top right;
      height: 100px;
      padding-right: 100px;
    }

    .content.lab > h1:first-of-type {
      background: transparent url('_images/lab.png') no-repeat top right;
      height: 100px;
      padding-right: 100px;
    }

    .content.workshop > h1:first-of-type {
      background: transparent url('_images/workshop.png') no-repeat top right;
      height: 100px;
      padding-right: 100px;
    }

    .slide.core {
      background: white url('_images/core.png') no-repeat right top;
    }
    .slide.optional {
      background: white url('_images/optional.png') no-repeat right top;
    }

    .slide.core .content.lab > h1:first-of-type,
    .slide.core .content.exercise > h1:first-of-type,
    .slide.core .content.workshop > h1:first-of-type,
    .slide.optional .content.lab > h1:first-of-type,
    .slide.optional .content.exercise > h1:first-of-type,
    .slide.optional .content.exercise > h1:first-of-type {
      margin-right: 32px;
    }

    .content.workshop h1,
    .content.exercise h1,
    .content.lab h1 {
        text-align: left;
        font-size: 3em;
    }

    .content.workshop h2,
    .content.exercise h2,
    .content.lab h2 {
    	text-align: left;
    	font-size: 2em;
    }

    .content.workshop > ul > li,
    .content.exercise > ul > li,
    .content.lab > ul > li {
        font-weight: bold;
    }

    .content.workshop > ul > li > ul,
    .content.exercise > ul > li > ul,
    .content.lab > ul > li > ul {
        font-weight: normal;
        background: #ccc;
        margin-right: 4em;
        border: 2px solid #ddd;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
    }

    /**********************************
    ***   supplemental materials   ***
    **********************************/
    #slides.supplemental .content h1,
    #slides.supplemental .content h2,
    #slides.supplemental .content h3 {
        text-align: left;
    }

    /* cover sheet */
    #slides.supplemental .content.cover h1,
    #slides.supplemental .content.cover h2,
    #slides.supplemental .content.cover h3,
    #slides.supplemental .content.cover h4,
    #slides.supplemental .content.cover h5,
    #slides.supplemental .content.cover h6  {
        text-align: center;
    }

    #slides.supplemental .content div.em,
    #slides.supplemental .content span.em {
        border: 1px dotted #ccc;
        background-color: #efefef;
        font-weight: bold;
    }

    #slides.supplemental .content .sh_shell span.em,
    #slides.supplemental .content .sh_puppet_output span.em {
        background-color: #c3c3c3;
        color: black;
    }

    .slide.core .content.lab > h1:first-of-type,
    .slide.core .content.exercise > h1:first-of-type,
    .slide.optional .content.lab > h1:first-of-type,
    .slide.optional .content.exercise > h1:first-of-type {
      margin-right: 48px;
    }

}

@media print {
  /* branding */
  body {
    font-family: 'PT Sans', helvetica, sans-serif !important;
    background: none;
  }

  h1 {
	  font-size: 2em !important;
	  font-family: 'Arvo' !important;
  }

  h2 {
	  font-size: 1.5em !important;
	  font-family: 'PT Sans' !important;
  }

  h3, h4, h5, h6 {
	  font-family: 'PT Sans' !important;
	  font-size: 1.3em !important;
  }

  .content > p, .content > ol, .content > ul {
	  font-size: 1.2em !important;
  }

  .content > pre {
	  font-size: 80% !important;
  }

  .content.supplemental {
	  margin-left: 1.75em;
  }

  .content.workshop > h1:first-of-type {
  	background: transparent url('_images/workshop-sm.png') no-repeat top right;
  	height: 50px;
  }

  .content.exercise > h1:first-of-type {
  	background: transparent url('_images/exercise-sm.png') no-repeat top right;
  	height: 50px;
  }

  .content.lab > h1:first-of-type {
    background: transparent url('_images/lab-sm.png') no-repeat top right;
    height: 50px;
  }

  .slide {
    /* use /onepage because wkthmltopdf isn't that great */
    max-height: inherit !important;
    height: auto !important;
    padding: 0.5em;
    width: 8.1in !important;
  }

  img {
    max-width: 7in !important;
  }

  /* why does he unset all this and never reset it? Argh! */
  ul {
    list-style: disc;
  }

  /* Ugly hack for tables, who never seem to scale properly. Ick */
  .content table {
    font-size: 0.65em;
  }

  /* Styling to make the handout notes appear in the printed output. */
  div.handouts {
    display: block !important;
    margin: 0 1em;
  }

  /* prepend the first element of the .handouts div with Notes: */
  div.handouts > :first-child:before {
    content: "Notes:";
    border-top: 2px dashed #999;
    font-weight: bold;
    display: block;
    padding: 1em 0.5em 0.5em 0;
  }

  div.handouts * {
    font-size: 12pt !important;
  }

  div.handouts p {
    padding-top: 0.5em;
  }

  div.handouts ol,
  div.handouts ul {
    margin-left: 1em;
    padding-left: 0;
  }
  div.handouts li {
    margin-left: 2em;
    padding-top: 0.5em;
  }

  div.handouts p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* cover sheet styling */
  .content.cover h1,
  #slides.supplemental .content.cover h1 {
    margin: 2.5em 0 0.25em 0;
    font-size: 36pt !important;
  }
  .content.cover h2,
  #slides.supplemental .content.cover h2 {
    margin-bottom: 3em;
    font-size: 24pt !important;
  }
  .content.cover h3,
  #slides.supplemental .content.cover h3 {
    margin-bottom: 5.5em;
    font-size: 32pt !important;
    font-weight: bold !important;
  }
  .content.cover h4,
  #slides.supplemental .content.cover h4 {
    font-weight: normal !important;
  }
  .content.cover hr,
  #slides.supplemental .content.cover hr {
    border: 0;
    width: 50%;
    height: 4px;
    background-color: #efa92d;
    margin: 0 auto;
  }

  /* Full page styling */
  div.content.full-page,
  div.content.full-page p,
  div.content.full-page img {
    margin: 0 !important;
    padding: 0 !important;
  }

  div.content.full-page img {
    max-width: 8in !important;
  }
}

/* print formatting for Prince */
@page {
  size: US-Letter;
/*  margin: 0.45in 0; */
  margin: 0.5in 0in 1.0in 0in;
  orphans: 3;
  widows: 3;

  @top-center {
  	content: string(doctitle);
  	font-weight: normal;
  	padding-top: 0.5em;
  	vertical-align: bottom;
  	font-family: 'Arvo' !important;
  }

  @bottom-left {
    content: "Fundamentals v3.4.0";
    padding-left: 0.5in;
  	font-family: 'Arvo' !important;
  }

  @bottom-right {
    content: "\00a9 2014 Puppet Labs"; /* escaped hex for copyright sign */
    padding-right: 0.5in;
  	font-family: 'Arvo' !important;
  }

  @bottom-center {
    content: counter(page);
  	font-family: 'Arvo' !important;
  }
}

/* set subsection page titles for Prince */
div.content.subsection > h1 {
  string-set: doctitle content();
}

/* set the page type for full-page slides */
div.full-page { page: full-page }
@page full-page {
  size: US-Letter;
  margin: 0in;

  @top-center { content: none; }
  @bottom-left { content: none; }
  @bottom-right { content: none; }
  @bottom-center { content: none; }

}
