~~~CONTENT~~~

<div class="cobrand">
  <% if @layout == :corner %><div class="logo"><img class="logo" src="image/cobrand.png" /></div><% end %>
  <div class="byline">
  <% if @name %>
    <div class="label">delivered by</div>
    <div class="partner"><%= @name %></div>
  <% else %>
    <div class="atp">delivered by</div>
  <% end %>
    <div class="atp">an authorized training partner</div>
  </div>
  <% if @layout == :stacked %><img class="logo" src="image/cobrand.png" /><% end %>
</div>
