.cobrand {
  position: absolute;
  bottom: 5px;
  left: 15px;
  width: 50%;
}
.subsection .cobrand {
  display: none;
}

.cobrand .byline {
  text-align: left;
}

.cobrand .byline .atp {
  font-variant: small-caps;
}

.cobrand .byline .atp,
.cobrand .byline .label,
.cobrand .byline .partner {
  font-size: 0.75em;
  line-height: 1em;
}
.cover .cobrand .byline .atp,
.cover .cobrand .byline .label,
.cover .cobrand .byline .partner {
  font-size: 1em;
}

<% if @layout == :corner %>
  /* Corner logo layout */
  .cobrand img.logo {
    max-height: 36px;
    width: auto;
    margin-right: 0.25em;
  }
  .cover .cobrand img.logo {
    max-height: 136px;
  }
  .cobrand div.logo,
  .cobrand div.byline {
    display: table-cell;
    vertical-align: bottom;
  }

<% elsif @layout == :stacked %>
  /* Stacked logo layout */
  .cobrand img.logo {
    max-height: 24px;
    width: auto;
  }
  .cover .cobrand img.logo {
    max-height: 128px;
    margin-left: 0;
  }

  .cobrand .byline .label,
  .cobrand .byline .partner {
    display: inline;
  }

<% end %>
