@media screen {
  #preso > .slide {
    background-image: url('_images/shared/header_branding.png'), url('_images/shared/ribbons/development.png') !important;
    background-position: center top, bottom right !important;
  }
}

