<html
  <head>
    <title>Nearby Meetup Events</title>
    <style>
      body {
        background-color: #f5f5f5;
        margin: 0;
      }
      h1 {
        text-align: center;
        background: #8369a9;
        padding: 0.5em;
        color: white;
      }
      h2 {
        font-size: 1em;
        margin-bottom: 0.25em;
      }
      p {
        margin: 1em 6em;
      }
      hr {
        width: 35%;
      }
    </style>
  </head>
  <body>
    <h1>Upcoming Meetup Events</h1>
    <ul>
<% events.each do |event| %>
    <li><h2><%= event[:title] %></h2></li>
    <ul>
      <li><span class="label">URL:</span> <a href="<%= event[:url] %>"><%= event[:url] %></a></li>
      <li><span class="label">Date:</span> <%= event[:date] %></li>
      <li><span class="label">Distance:</span> <%= event[:miles] %> miles / <%= event[:kilometers]%> kilometers</li>
    </ul>
<% end %>
    </ul>
    <hr />
    <p>
      Please note that community events listed on this page are for your information only and
      are not endorsed by Devops Dan in any way. We pull results from public databases
      and have chosen to highlight many DevOps and technology related topics. The accuracy
      of this list may vary, and some listed events may not even be Devops related.
    </p>
    <p>
      <a href="https://meetupmadness.com/ourmeetups">Meetup Madness user groups</a> are
      meetings organized by community members interested in gathering to discuss
      all things automation. If there isn't already a Meetup in your area, then good news&mdash;anyone can help start a Meetup Madness User Group! Simply download the <a href="https://meetupmadness.com/downloads/StartingaMeetupGroup.pdf">Meetup Madness User Group Guide</a> <small>(PDF 355 kb)</small> and learn more about how to run a great group, solve common obstacles, find speakers, and more!
    </p>
  </body>
</html>
