@page {
  size: 1152px 864px !important;
  margin: 0 !important;
  padding: 0 !important;

  @top-center    { content: none !important; }
  @bottom-left   { content: none !important; }
  @bottom-right  { content: none !important; }
  @bottom-center { content: none !important; }
}

body {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.content, .slide {
  border: none !important;
}
