$(document).ready(function(){
  $("#preso").bind("showoff:loaded", function (event) {
    var sid    = '<%= @config['event_id'].gsub(/[^-a-zA-Z0-9_]/, '') %>';

    var elem   = $("#Capstone_Lab_Feedback p.highlight a");
    var uri    = elem.attr('href');
    var newuri = uri + '?id=' + sid;

    elem.attr('href', newuri);
  });
});
